.stock-line-chart-container {
  display: flex;
  background-color: #222531;
  padding: 16px;
  border-radius: 15px;
  width: 100%;
  flex-direction: column;
  justify-content: space-around;
}

.stock-line-chart-container:hover {
  box-shadow: 0 0 3px rgba(255, 255, 255, 0.5), 0 0 8px rgba(255, 255, 255, 0.3),
    0 0 15px rgba(255, 255, 255, 0.2);
  transition: box-shadow 0.3s ease;
}

.entered-symbol {
  width: 20%;
  height: 100%;
  border: 1px solid #444;
  border-radius: 4px;
  background-color: #2c2f3a;
  color: #dfe6e9;
}

.stock-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.search-btn {
  padding: 8px 16px;
  background-color: #0984e3;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
