.market-cap-history ul {
  display: flex;
  gap: 15px;
  flex-direction: column;
}

.market-cap-history ul li {
  display: flex;
  font-size: 15px;
  color: #dfe6e9;
  line-height: 18px;
  padding: 0;
  justify-content: space-between;
  flex-direction: row;
}

.market-cap-history ul li span {
  color: rgb(161, 167, 187);
}

.market-cap-history:hover {
  box-shadow: 0 0 3px rgba(255, 255, 255, 0.5), 0 0 8px rgba(255, 255, 255, 0.3),
    0 0 15px rgba(255, 255, 255, 0.2);
  transition: box-shadow 0.3s ease;
}