.market-cap-value {
  display: flex;
  align-items: baseline;
}

.market-cap-value > :nth-child(1) {
  font-size: 40px;
}
.market-cap-value > :nth-child(2) {
  font-size: 20px;
}

.market-cap-change {
  display: flex;
  align-items: center;
  gap: 1px;
  font-size: 18px;
  flex-direction: row !important;
}

.market-cap-now:hover {
  box-shadow: 0 0 3px rgba(255, 255, 255, 0.5), 0 0 8px rgba(255, 255, 255, 0.3),
    0 0 15px rgba(255, 255, 255, 0.2);
  transition: box-shadow 0.3s ease;
}
